html{
    background-color: #e1d9c9

}.page-content {
    padding: 30px 100px;
    }

    #actor-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }

        .actor-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 10px;
            background: white;
            width: 200px;
            margin-bottom: 20px;
            margin-right: 30px;

            }

            a {
                text-decoration: none;
                color: black;
}
