html{
    background-color: #e1d9c9

}

.page-content {
    padding: 10px 100px;
    }

    #back-arrow{
      width: 115px;
      margin: 20px
    }

    .header{
      display: flex;
        flex-direction: row;
        }
        h1 {
            font-family: system-ui;
    }

    .movie-summary {
        max-width: 700px;
    }

    form{
        display: flex;
        flex-direction: column;
        margin: 50 0;
        background-color: white;
        padding: 30px 60px;
        width: 281px;
        }

        input, select{
          width: fit-content;
          margin-bottom: 20px;

}
