{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>
<a href="/watchlist/{{movie.list.name}}">
  <img src="{% static 'images/arrow.svg' %}" alt="back to list" id="back-arrow">
</a>
<div class="page-content">
  <div class="header">
    <h1>{{ movie.movie_title }}</h1>
    {% if movie.watch_state == "WD" %}
      <p>{{ movie.rating }}</p>
    {% endif %}
  </div>
  <div>
  <p class="movie-summary">{{ movie.synopsis }}</p>

  <form action="{% url 'watchlist:detail' movie.id %}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="update">
  </form>

</div>
